html,body {
  min-height: 100%;
  position: block;
}

html { border: 2px solid black; }
body { border: 3px solid blue; }

.bottom-bar {
  position: absolute;
  bottom: 0px;
  border: 2px solid cyan;
}
